{% extends 'agvoybase.html.twig' %}

{% block main %}

	<!-- ==== SECTION DIVIDER1 -->
		<section class="section-divider textdivider" style="background-image:url({{ asset("img/divider1.jpg")}})">
			<div class="container">
				<h1>Voyage Agence</h1>
				<hr>
				<p>Tourism doesn't care about the destination, but care about the way people and things and those wonderful memories and scenery. Backpack,will start tomorrow!</p>
			</div><!-- container -->
		</section><!-- section -->

	<!-- ==== ABOUT ==== -->
		<div class="container">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT OUR AGENCY</h1>
				<hr>
				
				<div class="col-lg-6" style="font-size:16px">
					<p >we are designers of much needed vacation relief, family reconnections, amazing honeymoons and romantic destination weddings. Our experienced team of agents offer a full range of travel services for clients worldwide. Every person has a different concept of the ideal vacation and we learn each client's unique criteria; creating custom memories that last a lifetime.</p>
					<p style="padding:0">As professional travel agents, travel is our passion and our life work. It's what we do all day every day. We have personally been to destinations worldwide, stayed at the resorts, sailed aboard the cruise ships and taken the off-the-beaten path tours, so we know what to recommend and what not to recommend to our clients.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p style="font-size:16px">We have partnered with the tourism boards of some of the most exciting destinations across the world to offer you the best vacation values and experiences. From Alaska and Australia to Fiji and Florida, our travel agents have worked with our destination representatives to receive specialized training and certifications. Our promise to you...
					<strong><p style="font-size:20px">"When travel with us, you travel better."</p></strong>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider" style="background-image:url({{ asset("img/divider2.jpg")}})">
			<div class="container">
				<h1>Voyage Agence</h1>
				<hr>
				<p>To travel, ignore is multifarious, freely, to experience a city, a story, leave a piece of laughter.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<!-- ==== ABOUT ==== -->
		<div class="container" id="about" name="about">
			<div class="row white">
			<br>
				<h1 class="centered">A LITTLE ABOUT OUR TEAM</h1>
				<hr>
				
				<div class="col-lg-6">
					<img class="img img-circle center-block" src="{{ asset("img/aboutus.jpg")}}" width=300px height=300px>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Two little girls</p>
				</div><!-- col-lg-6 -->
			</div><!-- row -->
		</div><!-- container -->
		
		<div class="container" style="margin:30px">
			<div class="row">
			<br>
				<h1 class="centered">THANKS FOR VISITING US</h1>
				<hr>
				<div class="col-lg-4"></div>
				<div class="col-lg-4">
					<button type="button" class="btn btn-primary btn-lg center-block" data-toggle="modal" data-target="#myModal">
  						<span class="glyphicon glyphicon-hand-right"></span> Contact us
					</button>
				</div>
				<div class="col-lg-4"></div>
				</div><!-- row -->
		
		</div><!-- container -->
		
	
	
{% endblock %} {# main #}